/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  min-height: 100vh;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h1 {
  color: #05acff;
}
